.App {
  text-align: center;
  
}

body {
  background-color: #dddddd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title{
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.join-button{
  background-color: green;
  border-color: green;
  color:white;
}

.content{
 
  margin: 1% !Important;
  width: 60vw !Important;

}

.userCircle {
  background-color: cornflowerblue;

  border: solid;
  border-color: #282c34;
  height: 80px;
  width: 100px;
  margin-left: 5px;
}

.userCircle-playerLetter{
  text-align: center;
  margin: 0;
  padding-top: 6%;
  font-size: 45px;
  color: whitesmoke;

}

.player-score{
  font-weight: bold;
}

.user-name-p{
  margin: 0;
  text-align: center;
}

.user-container{
  padding-top: 10px;
  padding-bottom: 5px;
  width: 300px;
}

.test{
 
}

.game-container{
  width: 35vw;
  height: 40vh;
  padding-top: 10%;
  padding-left: 5%;
}

.game-canvas {
  padding: 20px;
}

.joinview-container{

  margin-top: 10% !Important;
  width: 100%;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
}

.Header{
  height: 50px;
  width: 100%;
  background-color: grey;
}


.join-paper {
  padding: 10px;
}

.join-button{
  height: 56px;
  radius: 0;
}

.game-bt{
 
  width: 100%;
  height: 100px;
  margin-top: 20px !important;
  background-color: #282c34;
  color:#eee;
  font-weight: bold;
 
}


.score-txt{
  color: #282c34;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 20px
}

.prompt-txt {
text-align: center;
}

.prompt-bt{
  height: 50px;
  width: 47%;
  /* padding: 5px; */
  margin: 10px;
}